<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Datum</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/fontawesome-free-5.12.1-web/css/all.css" />
        <link rel="stylesheet" href="~/lib/fontawesome-free-5.12.1-web/css/fontawesome.css" />
        <link rel="icon" href="~/favicon.ico"/>
        
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/fontawesome-free-5.12.1-web/css/all.min.css" />
        <link rel="stylesheet" href="~/lib/fontawesome-free-5.12.1-web/css/fontawesome.min.css" />
        <link rel="icon" href="~/favicon.ico" />

    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="LeaderBoard" class="navbar-brand"><img src="~/images/Datum-Logo.png" class="logo-style"/></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav mr-auto">
                    @*<li><a asp-area="" asp-controller="" asp-action="Index">Home</a></li>*@
                    <li><a asp-controller="Home" asp-action="LeaderBoard">Leader Board</a></li>
                    <li><a asp-controller="Home" asp-action="MyProfile">My Profile</a></li>

                </ul>            
      
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.HasClaim(claim => claim.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"))
                    {
                        var name = TempData.Peek("name");
                        <div class="navbar-right">
                            <div class="user-name">
                                <text>@name</text>
                            </div>                           
                            <div class="col-button-steam">
                                <form class="form-inline" asp-controller="Authentication" asp-action="SignOut">
                                    <button type="submit" class="btn-steam form-control steam-login"><i class="fab fa-steam-symbol"></i>&nbsp; Sign Out</button>
                                    
                                </form>
                            </div>                        
                        </div>
                    }                  
                }
                else
                {
                    var name = TempData["name"];

                    <form class="form-inline" asp-controller="Authentication" asp-action="SignIn">

                        <div class="md-form my-0 steam-login navbar-right">
                            <button type="submit" class="btn-steam form-control mr-sm-2"><i class="fab fa-steam-symbol"></i>&nbsp; Sign In</button>
                        </div>
                    </form>

                }

            </div>
        </div>
    </nav>

    

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - Datum</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/fontawesome-free-5.12.1-web/css/all.css"></script>
        <script src="~/lib/fontawesome-free-5.12.1-web/css/fontawesome.css"></script>

    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/lib/fontawesome-free-5.12.1-web/css/all.min.css"></script>
        <script src="~/lib/fontawesome-free-5.12.1-web/css/fontawesome.min.css"></script>



    </environment>

    @RenderSection("Scripts", required: false)

</body>
</html>
