
@* The page "My Profile" requires you to sign in with STEAM *@

<div class="square">
    <div class="content">
        <form asp-controller="Authentication" asp-action="signin">
            <h2>The page "My Profile" requires you to sign in with<button type="submit" class="btn-to-steam"><i class="fab fa-steam-symbol"></i>&nbsp;Steam</button></h2>
        </form>
    </div>
</div>
    