
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <form asp-controller="Authentication" asp-action="signin">
        <h1>The page "My Profile" requires you to sign in with <button type="submit" class="btn-info">Steam</button></h1>
    </form>