/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
    margin: 0;
    /*background: -webkit-repeating-linear-gradient(45deg, #49a09d ##5f2c82);*/
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

html {
    min-width: 100%;
    min-height: 100%;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.square {
    width: auto;
    min-height: -webkit-fill-available;
    border-color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content {
    width: auto;
    height: 100px;
    margin: auto;
    padding-top: 5px;
    border: double white;
    border-radius: 4px;
    color: white;
    white-space: nowrap;
    box-sizing: border-box;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 110px;
}

.content2 {
    width: auto;
    height: 100px;
    margin: auto;
    padding-top: 5px;
    border: double white;
    border-radius: 4px;
    color: white;
    white-space: nowrap;
    box-sizing: border-box;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 130px;
}


.tab-container {
    display: flex;
    margin-top: 25px;
}

.nav-link {
    color: white !important;
}

.nav-tabs > li > a:hover {
    /*border-color: #eeeeee #eeeeee #ddd;*/
    background-color: #434343 !important;
    opacity: 0.75;
}

.global-leaderboard-text {
    margin-left: auto;
    position: relative;
    display: flex;
    font-size: 25px;
    color: white;
    margin-top: 10px;
}



.avatar {
    width: 30px !important;
    height: 30px !important;
    border-radius: 4px;
}

.tb-leaderboard-scroll{
    overflow-x: auto;
    
}

.tb-leaderboard {
    /*table-layout: fixed;*/
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    /*overflow: scroll;*/
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th, td {
    padding: 15px;
    background-color: rgba(255,255,255,0.1);
    color: #fff;
}

.thead-leaderboard, th {
    background-color: #393939;
}

.tb-hover > tbody > tr:hover {
    background-color: rgba(255,255,255,0.2);
}

.imp-th {
    position: relative;
    cursor: help;
}

.imp-th:hover span{
    display: block;
}

.imp-mouseover {
    color: #fff;
    background-color: black;
    font-size: 13px;
    position: absolute;
    text-align: center;
    display: none;
    padding: 5px 0;
    width: 100%;
    font-size: small;
    border-radius: 3px;
    z-index: 2;
}

.role-mouse {
    position: relative;
    cursor: default;
    display: inline;
}
.role-mouse .role-text {  
  background-color: black;  
  color: #fff;
  text-align: center;
  font-size: smaller;
  /*border-radius: 6px;*/
  /*padding: 5px 0;*/
  display: none;
  float: right;
  position: absolute;
  z-index: 4;
  top: -20px;
  left: 10%;
}

.role-mouse:hover .role-text{
    visibility: visible;
    display: inline;

}
 
.hero-td{
    white-space: nowrap;
}

.rank-contain {
    width: 50px;
    height: 50px;
    margin: 2px auto 0;
    vertical-align: top;
    position: relative;
    display: block;
    box-sizing: border-box;
}

.rank-img-top10 {
    background-image: url(https://stratz.com/medal-8c.51f50e75.png);
    height: 100%;
    width: 100%;
    border-radius: 4px;
    display: inline-block;
    position: relative;    
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

.rank-img-top100 {
    background-image: url(https://stratz.com/medal-8b.48f57367.png);
    height: 100%;
    width: 100%;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

.rank-img-top1000 {
    background-image: url(https://stratz.com/medal-8a.b92976c2.png);
    height: 100%;
    width: 100%;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

.seasonrank {
    font-weight: 700;
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    vertical-align: top;
    box-sizing: border-box;
}

.ssr {
    text-align: center;
    /*padding: 0 3px 2px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: baseline;
    box-sizing: border-box;
    filter: drop-shadow(0 0 0.80rem black)
    /*-webkit-filter: drop-shadow(1px 1px 0 var(--black)) drop-shadow(-1px 1px 0 var(--black)) drop-shadow(1px -1px 0 var(--black)) drop-shadow(-1px -1px 0 var(--black));*/
}

.imp-progress {
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: var(--white);
    opacity: 0.75;
    border-radius: 3px;
    height: 0.6em;
    width: 7em;
    
}

progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0,0, 0, .1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)), -webkit-linear-gradient(left, #1b00cc, #44d1ff);
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
    
}

.user-name{
    color: white;
    margin-right: 30px;
    display: inline-block;
}

.col-button-steam{
display: inline-block;
}
.steam-login {
    margin-top: 7px;
}

.btn-steam{
    border-radius: 0px;
    background-color: black;
    color: white;
}

.btn-steam :hover {
    background-color: #434343;
}


.item-image{
    width: 19px !important;
    height: 15px !important;
}
.tb-item-images{
    padding: 0;
}

.tb-item-images tbody tr td{
    padding: 2px;
}
.hero-image {
    width: 59px;
    height: 33px;
}

.logo-style {
    width: 85px;
    height: 35px;
    margin-top: -9px;
}

.player-info-container {
    width: 100%;
    height: 150px;
    background-color: #39393996;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

justify-content-player-info{
    
}

.player-avatar-container {
    margin-left: 20px;
    margin-right: 20px;
}

.player-info-button {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
}

.player-avatar {
    width: 95px;
    height: 95px;
    border-radius: 3px;
}

.player-info{
    margin-top: 10px;
    color: white;
    white-space: nowrap;    
}

.player-rank {
    margin-top: 10px;
    color: white;
    white-space: nowrap;
    margin-left: auto;
}

.role-image{
    width: 15px;
    height: 15px;
}

.winner-text {
    text-align: center;
    color: #54eca5;    
}

.loser-text {
    text-align: center;
    color: #ff4157;
}

.btn-to-steam{
    background-color: black;
    border: 1px;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    text-align: center;    
    display: inline-block;    
    margin: 4px 2px;
    cursor: pointer;
}

.btn-to-steam:link, :visited{
    color: white !important;
}

.btn-to-steam:hover{
    background-color: #535151;  
}


.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;    
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.nowrap {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

